{
  "pipes": [
    {
      "from": "live:sdnjsdfjksm",
      "slackWebHook": "https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "skypeTarget": "skypeUserName"
    },
    {
      "from": "Test chat",
      "slackWebHook": "https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "skypeTarget": "Target chat"
    }
  ]
}